<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    {{>header}}
    <div id="main">
        <img src="/images/siddhant.jpg" alt="Siddhant Singh" id="abt-img">
    </div>
    <p>My name is Siddhant Singh and I am currently learning Node.js along with intermediate level of front-end.</p>
    {{>footer}}
</body>
</html>